@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark Theme Custom Styles */
.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(75 85 99 / var(--tw-border-opacity, 1));
}

.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity, 1));
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(37 49 65 / var(--tw-bg-opacity, 1));
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity, 1));
}

.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1));
}

.bg-gray-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity, 1));
}

.bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(37 49 65 / var(--tw-bg-opacity, 1));
}

.bg-green-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity, 1));
}

.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity, 1));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1));
}

.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity, 1));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity, 1));
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(243 244 246 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 / var(--tw-text-opacity, 1));
}

.text-yellow-500 {
  --tw-text-opacity: 1;
  color: rgb(234 179 8 / var(--tw-text-opacity, 1));
}

.hover\:bg-blue-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity, 1));
}

.hover\:bg-gray-300:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity, 1));
}

.hover\:bg-gray-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity, 1));
}

.hover\:bg-green-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(21 128 61 / var(--tw-bg-opacity, 1));
}

.hover\:bg-red-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(185 28 28 / var(--tw-bg-opacity, 1));
}

.results-list li.bg-red-200 {
  background-color: #7f1d1d !important;
}

.results-list li.bg-blue-200 {
  background-color: #1e3a8a !important;
}

.results-list li.bg-green-200 {
  background-color: #14532d !important;
}

.results-list li.bg-yellow-200 {
  background-color: #713f12 !important;
}

.results-list li.bg-purple-200 {
  background-color: #581c87 !important;
}

.results-list li.bg-pink-200 {
  background-color: #831843 !important;
}

.results-list li.bg-indigo-200 {
  background-color: #312e81 !important;
}

.results-list li.bg-teal-200 {
  background-color: #115e59 !important;
}

.results-list li.bg-orange-200 {
  background-color: #7c2d12 !important;
}

.results-list li.bg-gray-300 {
  background-color: #374151 !important;
}

.results-list li.bg-red-300 {
  background-color: #991b1b !important;
}

.results-list li.bg-blue-300 {
  background-color: #1e40af !important;
}

.results-list li.bg-green-300 {
  background-color: #166534 !important;
}

.results-list li.bg-yellow-300 {
  background-color: #854d0e !important;
}

.results-list li.bg-purple-300 {
  background-color: #6b21a8 !important;
}

.results-list li.bg-pink-300 {
  background-color: #9d174d !important;
}

.results-list li.bg-indigo-300 {
  background-color: #4338ca !important;
}

.results-list li.bg-teal-300 {
  background-color: #0d9488 !important;
}

.results-list li.bg-orange-300 {
  background-color: #9a3412 !important;
}

.results-list li.bg-gray-400 {
  background-color: #4b5563 !important;
}

.results-list li.bg-lime-200 {
  background-color: #4d7c0f !important;
}

.results-list li.bg-cyan-200 {
  background-color: #155e75 !important;
}

.results-list li.bg-fuchsia-200 {
  background-color: #701a75 !important;
}

.results-list li.bg-rose-200 {
  background-color: #881337 !important;
}

.results-list li.bg-sky-200 {
  background-color: #0c4a6e !important;
}

.results-list li.bg-amber-200 {
  background-color: #b45309 !important;
}

.results-list li.bg-emerald-200 {
  background-color: #065f46 !important;
}

.results-list li.bg-violet-200 {
  background-color: #5b21b6 !important;
}

.results-list li.bg-fuchsia-300 {
  background-color: #86198f !important;
}

.results-list li.bg-rose-300 {
  background-color: #9f1239 !important;
}

/* .task-accordion {
  border: 1px solid #4b5563;
} */

/* .task-header {
  background-color: #1f2937;
} */

/* .task-content {
  border-top-color: #374151;
  background-color: #111827;
} */

.query-block {
  border: 1px solid #4b5563;
}

.bg-green-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(187 247 208 / var(--tw-bg-opacity, 1));
}

.text-green-800 {
  --tw-text-opacity: 1;
  color: rgb(22 101 52 / var(--tw-text-opacity, 1));
}

.bg-blue-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(191 219 254 / var(--tw-bg-opacity, 1));
}

.text-blue-800 {
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity, 1));
}

.bg-red-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 202 202 / var(--tw-bg-opacity, 1));
}

.text-red-800 {
  --tw-text-opacity: 1;
  color: rgb(153 27 27 / var(--tw-text-opacity, 1));
}

/* Dropdown Menu Fix */
nav ul li.relative:hover>ul {
  display: block;
}

/* Dark Theme Tool Cards */
.dark .tool-card {
  background-color: #1f2937;
  border: 1px solid #4b5563;
  border-radius: 0.75rem;
  box-shadow:
    0 8px 12px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.06);
}

.dark .tool-card:hover {
  box-shadow:
    0 40px 50px -10px rgba(0, 0, 0, 0.4),
    0 20px 20px -10px rgba(0, 0, 0, 0.2);
}

.dark .tool-card-title {
  color: #f9fafb;
}

.dark .tool-card-description {
  color: #d1d5db;
}

.dark .tool-card-button {
  background-color: #3b82f6;
  color: #ffffff;
}

.dark .tool-card-button:hover {
  background-color: #2563eb;
}

.dark .tool-card-icon {
  background-color: #1e3a8a;
}

.dark .tool-card-icon svg {
  color: #60a5fa;
}

.action-btn-delete {
  background-color: #ef4444 !important;
  color: white !important;
}

.delete-variant-btn {
  box-shadow:
    inset 0 1px 1px rgba(202, 194, 194, 0.5),
    0 1px 2px rgba(255, 255, 255, 0.2);
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.delete-variant-btn:hover {
  box-shadow:
    inset 0 1px 1px rgba(202, 194, 194, 0.3),
    0 2px 4px rgba(255, 255, 255, 0.4);
  border-radius: 0.25rem;
  transform: translateY(-1px);
}

.delete-btn {
  box-shadow:
    inset 0 1px 1px rgba(202, 194, 194, 0.5),
    0 1px 2px rgba(255, 255, 255, 0.2);
  border-radius: 0.25rem;
  /* padding: 4px 8px !important; */
  border-radius: 4px !important;
  font-size: 12px !important;
  margin-left: 8px !important;
  /* transition: all 0.2s ease-in-out; */
}

.delete-btn:hover {
  box-shadow:
    inset 0 1px 1px rgba(202, 194, 194, 0.3),
    0 2px 4px rgba(255, 255, 255, 0.4);
  border-radius: 0.25rem;
  transform: translateY(-1px);
}

.filter-trigger:hover {
  background-color: #253141;
}

.modal-close {
  background-color: #4b5563;
  border: 1px solid #819dbe;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.06);
}

.modal-close:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.25);
}

.dark .option-item.active {
  background-color: #1e3a8a;
  color: #eff6ff;
}

.project-link:hover {
  @apply text-gray-400;
}

/* Flatpickr Dark Theme Styles */
.flatpickr-calendar {
  background: #1f2937 !important;
  /* bg-gray-800 */
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.5),
    0 2px 4px -2px rgba(0, 0, 0, 0.3) !important;
  border: 1px solid #374151 !important;
  /* border-gray-700 */
}

.flatpickr-calendar.arrowTop:before,
.flatpickr-calendar.arrowTop:after {
  border-bottom-color: #1f2937 !important;
}

.flatpickr-calendar.arrowBottom:before,
.flatpickr-calendar.arrowBottom:after {
  border-top-color: #1f2937 !important;
}

.flatpickr-months {
  background: #1f2937 !important;
  border-bottom: 1px solid #374151 !important;
}

.flatpickr-months .flatpickr-month {
  background: #1f2937 !important;
  color: #f3f4f6 !important;
  /* text-gray-100 */
  fill: #f3f4f6 !important;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  color: #f3f4f6 !important;
  fill: #f3f4f6 !important;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  fill: #5f57ff !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
  background: #1f2937 !important;
  color: #f3f4f6 !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months:hover {
  background: #374151 !important;
  /* bg-gray-700 */
}

.flatpickr-current-month input.cur-year {
  color: #f3f4f6 !important;
}

.flatpickr-weekdays {
  background: #1f2937 !important;
  border-bottom: 1px solid #374151 !important;
}

span.flatpickr-weekday {
  background: #1f2937 !important;
  color: #9ca3af !important;
  /* text-gray-400 */
}

.flatpickr-day {
  /* color: #e5e7eb !important; /* text-gray-200 */
  color: #17dd8b !important;
  font-weight: bold !important;
}

.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover,
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.notAllowed.nextMonthDay {
  color: #4b5563 !important;
  /* text-gray-600 */
}

.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay {
  color: #6b7280 !important;
  /* text-gray-500 */
}

.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus {
  background: #374151 !important;
  /* bg-gray-700 */
  border-color: #374151 !important;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.5),
    0 2px 4px -2px rgba(0, 0, 0, 0.3) !important;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: #5f57ff !important;
  /* primary-blue */
  border-color: #5f57ff !important;
  color: #fff !important;
}

.flatpickr-day.today {
  border-color: #5f57ff !important;
}

.flatpickr-day.today:hover,
.flatpickr-day.today:focus {
  background: #374151 !important;
  border-color: #5f57ff !important;
  color: #fff !important;
}

/* Стили для кастомного модального окна */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: rgb(37 49 65); /* bg-gray-800 */
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(75 85 99); /* border-gray-600 */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  max-width: 500px;
  width: 90%;
  text-align: center;
  color: rgb(209 213 219); /* text-gray-300 */
}

.modal-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: rgb(243 244 246); /* text-gray-100 */
}

.modal-text {
  margin-bottom: 1.5rem;
  color: rgb(209 213 219); /* text-gray-300 */
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.modal-button {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  border: 1px solid transparent;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.modal-button-confirm {
  background-color: rgb(59 130 246); /* bg-blue-500 */
  color: white;
}

.modal-button-confirm:hover {
  background-color: rgb(29 78 216); /* hover:bg-blue-700 */
}

.modal-button-cancel {
  background-color: rgb(75 85 99); /* bg-gray-600 */
  color: white;
}

.modal-button-cancel:hover {
  background-color: rgb(55 65 81); /* hover:bg-gray-700 */
}