{% extends "layout.html" %}

{% block title %}Редактор кластеров{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <div class="flex justify-between lg:flex-row flex-col mb-6">
        <div class="flex w-full lg:w-1/2 justify-between space-x-4 px-4">
            <h1 class="text-3xl font-bold text-gray-800 dark:text-gray-200">Редактор кластеров</h1>
            <div
                class="flex hidden md:block lg:hidden bg-gray-100 dark:bg-gray-700 p-1 rounded-xl border border-gray-200 dark:border-gray-600">
                <button class="view-mode-grid-btn p-1.5 rounded-lg transition-all duration-300" title="Сетка">
                    <img src="{{ url_for('static', filename='images/icon/icon_grid.svg') }}" alt="Сетка"
                        class="w-5 h-5">
                </button>
                <button class="view-mode-list-btn p-1.5 rounded-lg transition-all duration-300" title="Список">
                    <img src="{{ url_for('static', filename='images/icon/icon_list.svg') }}" alt="Список"
                        class="w-5 h-5">
                </button>
            </div>
        </div>
        <div class="flex w-full lg:w-1/2 justify-between lg:justify-end sm:flex-row flex-col items-center space-x-4">

            <div
                class="flex hidden lg:block bg-gray-100 dark:bg-gray-700 p-1 rounded-xl border border-gray-200 dark:border-gray-600">
                <button class="view-mode-grid-btn p-1.5 rounded-lg transition-all duration-300" title="Сетка">
                    <img src="{{ url_for('static', filename='images/icon/icon_grid.svg') }}" alt="Сетка"
                        class="w-5 h-5">
                </button>
                <button class="view-mode-list-btn p-1.5 rounded-lg transition-all duration-300" title="Список">
                    <img src="{{ url_for('static', filename='images/icon/icon_list.svg') }}" alt="Список"
                        class="w-5 h-5">
                </button>
            </div>

            <button id="create-empty-group"
                class="bg-blue-500 hover:bg-blue-700 text-blue-50 font-bold py-2 px-4 rounded">
                Создать новую группу
            </button>
            <div class="relative inline-block text-left">
                <div>
                    <button type="button"
                        class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-600 hover:bg-gray-300 dark:hover:bg-gray-600 focus:outline-none "
                        id="menu-button" aria-expanded="true" aria-haspopup="true">
                        Скачать
                        <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>
                <div class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none hidden"
                    role="menu" aria-orientation="vertical" aria-labelledby="menu-button" id="download-menu">
                    <div class="py-1" role="none">
                        <a href="#" onclick="downloadClusters('{{ project.id }}', 'xlsx')"
                            class="text-gray-600 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
                            id="menu-item-0">Скачать XLSX</a>
                        <a href="#" onclick="downloadClusters('{{ project.id }}', 'csv_utf8')"
                            class="text-gray-600 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
                            id="menu-item-1">Скачать CSV (UTF-8)</a>
                        <a href="#" onclick="downloadClusters('{{ project.id }}', 'csv_win1251')"
                            class="text-gray-600 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
                            id="menu-item-2">Скачать CSV (win-1251)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="clusters-container" data-project-id="{{ project.id }}"
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {# Сюда будут динамически добавляться карточки кластеров #}
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/Sortable.min.js') }}"></script>
<script>
    // Передаем данные из Jinja2 в JavaScript
    const groupsData = {{ groups | tojson }};
    const unclusteredQueriesData = {{ unassigned_queries | tojson }};
</script>
<script>
    function downloadClusters(projectId, format) {
        window.open(`/api/clusters/download/${projectId}?format=${format}`, '_blank');
    }

    document.addEventListener('DOMContentLoaded', function () {
        const menuButton = document.getElementById('menu-button');
        const downloadMenu = document.getElementById('download-menu');

        if (menuButton) {
            menuButton.addEventListener('click', function () {
                downloadMenu.classList.toggle('hidden');
            });
        }

        // Close the menu if clicked outside
        window.addEventListener('click', function (e) {
            if (menuButton && !menuButton.contains(e.target) && downloadMenu && !downloadMenu.contains(e.target)) {
                downloadMenu.classList.add('hidden');
            }
        });
    });
</script>
<script src="{{ url_for('static', filename='js/cluster_editor.js') }}"></script>
{% endblock %}